.modal {
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  /* width: 80%; */
  max-width: 40rem;
}

.modal > h2 {
  margin-top: 0;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
