.modal {
  background-color: #e4ddd4;
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}
