:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #f8f8fb;
  --light-gray: #8490a4;
  --dark-gray: #262626;

  --green: #5ea487;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  --accent-color: var(--green);
  --background-color: var(--white);
  --text-color: var(--light-gray);
  --text-color-strong: var(--dark-gray);
  --box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.35);

  color: var(--text-color);
  background-color: var(--background-color);
}
