.header {
  width: 100%;
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.header > h1 {
  display: inline-block;
  margin: 0;
  font-weight: bolder;
}

.header > span {
  padding-bottom: 0.5rem;
}
